.container {
    display: inline-block;
    position: relative;
    width: 100vw;
    background: white;
    margin: 24px 0 0 24px;
    height: 320px;

    @media screen and (min-width: '1000px') {
        vertical-align: middle;
        margin: 24px 0 0 120px;
        height: 100vh;
    }

    .social {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 260px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: calc(100% + 24px);
            height: 1px;
            background: black;
            left: -42px;
            bottom: 14px;
        }

        @media screen and (min-width: '1000px') {
            margin-top: 120px;

            &:after {
                left: auto;
                right: 0px;
                width: 1px;
                height: 310px;
                bottom: 0;
            }
        }
    }

    p {
        font-size: 11px;
        white-space: normal;
        max-width: 60px;
        line-height: 17px;
    }

    a {
        display: block;
        font-size: 11px;
        text-decoration: none;
        line-height: 17px;
        color: #7b7b7b;        font-weight: 200;;

        @media screen and (min-width: '1000px') {
            font-size: 14px;
            line-height: 24px;
        }
    }
}