/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

html, body {
	height: 100%;
	font-family: acumin-pro, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#example-wrapper {
    overflow-y: hidden; 
}

.video {
    width: 100vw;
    height: 100vh;
    background: grey;
}

#content-wrapper, #example-wrapper {
    height: 100%;
}

.spacer.s_viewport {
    min-width: 100%;
}

.test {
	background: black;
	width: 100%;
	height: 100vh;
	z-index: 666666666666;

	&.white {
		background: white;
	}
}

// fonts

h2 {
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 24px;
}

h1 {
	font-weight: 200;
}

p {
	font-weight: 200;
}