.introWrapper {
    @media screen and (min-width: '1000px') {
        display: inline-block;
        height: 100vh;
        margin: 0 auto 0 50px;
        vertical-align: middle;
        width: 350px;
        @media screen and (min-width: '1000px') {
            position: relative;
        }
    }
    .introContent {
        padding: 60px 0 50px 24px;
        max-width: 70%;
        height: calc(100% - 135px);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: calc(100% + 24px);
            height: 1px;
            background: black;
            left: -42px;
            bottom: 14px;
        }
    
        @media screen and (min-width: '1000px') {
            padding: 0;
            max-width: 160px;
            white-space: normal;
            position: initial;
    
            &:after {
                left: auto;
                right: 0px;
                width: 1px;
                height: 310px;
                bottom: 0;
            }
        }
    
        .pre {
            font-size: 11px;
            line-height: 1.6;
            color: #7b7b7b;
            margin-bottom: 16px;
    
            @media screen and (min-width: '1000px') {
                font-size: 12px;
            }
        }
    
        .link {
            color: black;
            font-size: 14px;
            font-weight: 200;
            @media screen and (min-width: '1000px') {
                font-size: 11px;
            }
        }
    }
}


.thumbnailWrapper {
    display: inline-block;
    position: relative;
    border: 0px solid white;
    text-align: center;
    vertical-align: middle;
    width: 350px;
    max-width: 600px;
    transition: width .2s;
    top: 50%;
    margin: 0 0 24px 0;

    @media screen and (min-width: '1000px') {
        height: 100vh;
        margin: 0 auto 0 25px;
        padding: 0 5px;
    }

    .imageWrapper {
        height: calc(100% - 115px);
        display: flex;
        align-items: flex-end;

        .thumbnail {
            width: 100%;
            max-height: 395px;
            transform-origin: right top;
        }
    }

    .thumbnailContent {
        text-align: left;
        margin: 24px 0 0 24px;
        @media screen and (min-width: '1000px') {
            margin: 24px 0 0 0;
        }

        .thumbnailNumber {
            font-size: 11px;
            color: #7b7b7b;
        }

        .thumbnailTitle {
            font-size: 14px;
            font-weight: 200;
        }
    }
}