.container {
    position: absolute;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto;
}

.probject {
    pointer-events: none;
    flex: 0 0 auto;
    // padding: 0 10px;
    width: 400px;
    max-width: 600px;
    min-width: 400px;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: blue;

    &:nth-child(odd) {
        background: red;
    }
}

.placeholder {
    pointer-events: none;
    flex: 0 0 auto;
    padding: 0 10px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: green;
}
