.placeholder {
    pointer-events: none;
    flex: 0 0 auto;
    padding: 0 10px;
    width: 33vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: green;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto;
}